#jugador{
height: 25px;
width: 25px;
position:absolute;
background-color: black;
}

#objeto1{
    position: absolute;
    height: 10px;
    width: 10px;
    left: 700px;
    top: 500px;
    background-color: rgb(173, 100, 100);
}
#objeto2{
    position: absolute;
    height: 10px;
    width: 10px;
    left: 300px;
    top: 300px;
    background-color: rgb(173, 100, 100);
}